
.narbar1{
  position: relative;
}
.heroImage{
  position: relative;
}

.button1{
  width: 7rem;
  height: 50px;
  font-size: 1.2rem;
  border-radius: 8px;
  font-weight: bold;
  border: 0ch;
  background-color: #2c91ef;
  margin-left: 15%;
  margin-top: 5%;
  position: absolute;
  
}
.animalPage{
  color: rgb(0, 0, 0);
  text-align: left;
}
.container {
  position: relative;
  font-family: monospace;
}
.container img{
  opacity: 40%;
}


.container .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: rgb(27, 163, 241);
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
.container h1{
  text-align: left;
}
.container .navbar{
  text-align: right;
}

.container .h12{
  position: absolute;
  color: rgb(27, 163, 241);
  font-size: 5.5rem;
  text-align: center;
  top: 10%;
  left: 40%;
}

.container .btn:hover {
  background-color: rgb(0, 83, 131);
}

.animalPage {
  position: relative;
  
}

.animalPage img {
  width: 100%;
  height: auto;
  align-items: right;
  align-content: right;
}
.p{
  position: absolute;
  color: rgb(0, 0, 0);
  font-size: 1.5rem;
  top: 10%;
  margin-left: 40%;
  margin-right: 5%;
}

.animalPage .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.animalPage .btn:hover {
  background-color: black;
}


.typewriter p {
  white-space: nowrap;
  overflow: hidden;    
  font-family: 'Source Code Pro', monospace;  
  font-size: 7rem;
  position: absolute;
  top: 5%;
  left: 35%;
  color: rgb(192, 45, 0);
}

.typewriter p {
  animation: animated-text 4s steps(29,end) 1s 1 normal both,
             animated-cursor 600ms steps(29,end) infinite;
}


@keyframes animated-text{
  from{width: 0;}
  to{width: 512px;}
}


@keyframes animated-cursor{
  from{border-right-color: rgba(0,255,0,.75);}
  to{border-right-color: transparent;}
}

.footer{
  position: relative;
  margin-top: 5%;
}


@media screen and (max-width: 500px) {
  .typewriter p{
      width: 100px;
  }
}
@media screen and (max-width: 900px) {
  .typewriter p{
      width: 100px;
  }
}